<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SettingActivity"
            android:exported="false">

        </activity>
        <activity android:name=".BriefActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ComplexActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".VocabularyBookActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>